body {
	margin-top: 0;
	margin-left: 0;
	font-family: 'Ibarra Real Nova', serif;
}
video {
	position: absolute;
	top:0;
	left:0;
	display: block;
    overflow: hidden;
	z-index: -1;
	object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.container {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.content {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
	width: 50%;
}
h1 {
	color: #ffffff;
	font-size: 40px;
	text-align: center;
}

.btn {
	position: relative;
	background-color: #ffffff83;
	display: inline-block;
	color: #1e1e1d;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
	user-select: none;
	padding: 1em 2em;
	outline: none;
	border-radius: 3px / 100%;
	background-image:
	linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
	linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
	linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
	linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
	linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
	linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.btn:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.btn:active {
	top: 1px;
}
.api {
	font-size: 30px;
	text-align: center;
	color: #000000;
	background-color:#ffffffda;
	padding: 7px;
	border-radius: 15px;
}
@media all and (max-width: 768px) {
	h1 {
		font-size: 25px;
	}
}